@model List<SubCategoryAllPostsViewModel>

@{
    ViewData["Title"] = "Steroids - Increase Мuscle mass";
}

<h3 class="text-white subcategory-title"><a asp-controller="Home" asp-action="Index">Steroids</a> - Increase muscle mass</h3>
<partial name="_SubCategoryPartial" />
