@model List<SubCategoryAllPostsViewModel>

@{
    ViewData["Title"] = "Steroids - Weight loss";
}

<h3 class="text-white subcategory-title"><a asp-controller="Home" asp-action="Index">Steroids</a> - Weight loss</h3>
<partial name="_SubCategoryPartial" />
