@model List<SubCategoryAllPostsViewModel>

@{
    this.ViewData["Title"] = "Trainings - Common discussions";
}

<h3 class="text-white"><a asp-controller="Home" asp-action="Index">Trainings</a> - Common discussions</h3>
<partial name="_SubCategoryPartial" />