@model List<SubCategoryAllPostsViewModel>

@{
    ViewData["Title"] = "Injuries and Health problems";
}

<h3 class="text-white">Injuries and Health problems</h3>
<partial name="_SubCategoryPartial" />
