@model List<SubCategoryAllPostsViewModel>

@{
    ViewData["Title"] = "Trainings - Injuries and Health problems";
}

<h3 class="text-white"><a asp-controller="Home" asp-action="Index">Trainings</a> - Injuries and Health problems</h3>
<partial name="_SubCategoryPartial" />
