@model List<SubCategoryAllPostsViewModel>

@{
    ViewData["Title"] = "Trainings - Мuscle mass increase training programs";
}

<h3 class="text-white"><a asp-controller="Home" asp-action="Index">Trainings</a> - Мuscle mass increase training programs</h3>
<partial name="_SubCategoryPartial" />
