@model List<SubCategoryAllPostsViewModel>

@{
    ViewData["Title"] = "Supplements - Increase muscle mass";
}

<h3 class="text-white"><a asp-controller="Home" asp-action="Index">Supplements</a> - Increase Мuscle mass</h3>
<partial name="_SubCategoryPartial" />
