@model List<HomeCategoriesViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Your Fitness Forum</h1>
    <p>Now we have @Model.Count()  active categories </p>

    <div class="home-category-container">
        @foreach (var mainCategory in Model)
        {
            <div class="home-main-category">
                <h3 class=""> @mainCategory.CategoryName </h3>

                @foreach (var subCategory in mainCategory.SubCategories)
                {
                    <h5><a href="">@subCategory.Name</a></h5>
                }
            </div>
        }
    </div>
</div>
