@model List<SubCategoryAllPostsViewModel>

@{
    ViewData["Title"] = "Common discussions";
}

<h3 class="text-white">Мuscle mass increase training programs</h3>
<partial name="_SubCategoryPartial" />
