@model List<SubCategoryAllPostsViewModel>

@{
    ViewData["Title"] = "Nutrition - Weight loss";
}

<h3 class="text-white"><a asp-controller="Home" asp-action="Index">Nutrition</a> - Weight loss</h3>
<partial name="_SubCategoryPartial" />
