/*My Custom site CSS*/

/*.home-category-container {
    display: flex;
    flex-direction:column;
}

.home-main-category {
    display: flex;
    flex-direction: column;
    background-color: brown;
}
*/

body {
    background-color: black;
    /*  display: flex;
    flex-direction: column;
    align-items: center;*/
    /* background-image: url("../images/training.jpg") ;*/
}

/*header {
    width: 100%;
}
*/
/*.container {
    display: flex;
    min-width: 100%;
    margin: 0;
    justify-content: center;
}*/

/*main {
    display: flex;
    justify-content: center;
}*/
/*
.training-container {
    display: flex;
    background-image: url("../images/training.jpg");
    width: 80%;
}*/

.home-table {
    margin-bottom: 40px;
}

.home-page-text, text-white {
    color: azure;
}

.home-table-subCategory {
    text-align: left;
}

a {
    text-decoration: none !important;
}

    a:hover {
        color: orangered !important;
    }

.subcategory-title {
    margin-top: 50px !important;
}

.published {
    font-size: small;
}

.discussion-post {
    background-color: #0F89CA !important;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-comment, .btn-answer, .btn-delete, .show-answers {
    float: right;
}

.discussion-comment-container {
    margin-top: 30px;
    margin-left: 50px;
}

.discussion-comment {
    background-color: #14A0DB;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 20px;
}

.comment-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discussion-answer-container {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
}

.discussion-answer {
    background-color: #6192AC;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 20px;
}
