/*My Custom site CSS*/

/*.home-category-container {
    display: flex;
    flex-direction:column;
}

.home-main-category {
    display: flex;
    flex-direction: column;
    background-color: brown;
}
*/

body {
    background-color: black;
}

.home-table {
    margin-bottom: 40px;
}

.home-page-text, text-white {
    color: azure;
}

.home-table-subCategory {
    text-align: left;
}

a {
    text-decoration: none !important;
}

