/*My Custom site CSS*/

.home-category-container {
    display: flex;
    flex-direction:column;
}

.home-main-category {
    display: flex;
    flex-direction: column;
    background-color: brown;
}
